*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image:url('../img/mainimage.png');
    
    height: 100vh;
}
.headertop{
    display: flex;
    height: 63px;
    width: 1500px;
color: white;
margin-left: auto;
margin-right: auto;
align-items: center;
}
.left{
    position: fixed;
    width: 90px;
    height: 100vh;
    border-right: 1px white solid;
}
.wrap{
    width: 1620px;
    height: 100vh;
    margin-left:auto ;
    margin-right: auto;
}
.div1{
    justify-content: space-between;
    display: flex;
}
/* .div1 p{
    /* align-items: center;
    height: 63px;}
*/
.lang ul{
    list-style-type:none;
    display: flex;
 height: 63px;
    align-items: center;
  
}
.lang ul li{
    margin-right: 16px;
}
.numb> h2{
    margin-left: 64px;
    
}
.numb{
    display: flex;
    height: 63px;
    align-items: center;
}
.numb p{

vertical-align: bottom;
}
.menu img{
    display: block;
    margin-top: 8px;
    margin-left: 15px;
}
.lang{
    margin-left: 195px;
    margin-right: 80px;
}
.div1 p{
    white-space:pre-wrap;
    margin-left: 10px;
}
.big{
    margin-top: 500px;
    margin-left: 250px;
    color: white;
    font-size: 24px;
    width: 500px;
}
button{
    border-radius: 10px;
    background-color: white;
    padding: 15px 30px 16px;
    width: 186px;
height: 25px;
display: flex;
align-items: center;
white-space:nowrap; 
}
button{
   
    background-image: url('../img/Vector70.png');
   background-position-x: 160px;
   background-position-y: 10px;
    background-repeat: no-repeat;
}
.text{
    color: white;
    margin-left: 250px;
    margin-top: 150px;
}